/* line 1, ../sass/partials/_base.scss */
body {
  font-family: sans-serif;
  background: #222a38;
  width: 100%;
  height: 100%;
  padding: 0px;
}

/* line 9, ../sass/partials/_base.scss */
#title {
  text-align: center;
  color: #fff;
}
/* line 12, ../sass/partials/_base.scss */
#title h1 {
  font-size: 40px;
  padding: 0;
  margin: 10px 0 20px;
}

/* line 20, ../sass/partials/_base.scss */
p {
  color: #fff;
}

/* line 24, ../sass/partials/_base.scss */
a {
  text-decoration: none;
  color: #fff;
}

/* line 29, ../sass/partials/_base.scss */
select {
  height: 20px;
  padding: 1px;
}

/*BASE STATS*/
/* line 36, ../sass/partials/_base.scss */
#base_stats {
  width: 80%;
  height: 40px;
  margin: 0 auto;
  margin-top: 10px;
}

/* line 43, ../sass/partials/_base.scss */
#username {
  display: inline;
}
/* line 45, ../sass/partials/_base.scss */
#username h2 {
  font-size: 24px;
  display: inline-block;
  color: #fff;
  padding: 0;
  margin-top: 5px;
}
/* line 52, ../sass/partials/_base.scss */
#username input {
  display: none;
  position: absolute;
  font-size: 14px;
  width: 180px;
  height: 35px;
  margin-top: 5px;
  padding-left: 5px;
}

/* line 63, ../sass/partials/_base.scss */
#change_name {
  display: inline;
}
/* line 65, ../sass/partials/_base.scss */
#change_name button {
  padding: 7px;
  -webkit-appearance: none;
  background: #fff;
  border: none;
  border-radius: 0px 2px 2px 0px;
  margin: 0;
  margin-bottom: 10px;
}

/* line 76, ../sass/partials/_base.scss */
.base_stat_item {
  display: inline-block;
  float: right;
  margin-right: 15px;
  width: auto;
}
/* line 81, ../sass/partials/_base.scss */
.base_stat_item h3 {
  text-align: center;
  color: #fff;
  margin: 0;
  padding: 0;
}

/* line 90, ../sass/partials/_base.scss */
#base_stats p {
  font-size: 10px;
  text-align: center;
  color: #fff;
  margin: 0;
  padding: 0;
}

/*LIST*/
/* line 100, ../sass/partials/_base.scss */
ul {
  list-style: none;
  padding: 0;
}

/* line 105, ../sass/partials/_base.scss */
li {
  width: 80%;
  height: 60px;
  background: #fff;
  margin: 5px auto;
  border-radius: 2px;
  box-shadow: 2px 2px 5px #0f1218;
}
/* line 112, ../sass/partials/_base.scss */
li:hover {
  width: 82%;
}

/* line 117, ../sass/partials/_base.scss */
#list_wrapper {
  width: 80%;
  margin: 0 auto;
}

/*NEW MATCH*/
/* line 123, ../sass/partials/_base.scss */
#input_fields {
  margin-bottom: 7px;
}
/* line 125, ../sass/partials/_base.scss */
#input_fields div {
  margin: 2%;
}

/* line 130, ../sass/partials/_base.scss */
#addMatchButton {
  border-radius: 3px;
  background: #fff;
  border: none;
  outline: none;
}
/* line 135, ../sass/partials/_base.scss */
#addMatchButton:active {
  background: #ddd;
  outline: none;
}

/* line 141, ../sass/partials/_base.scss */
#new_match_wrapper {
  text-align: center;
  margin: 0 auto;
  background: #354258;
  height: 200px;
  width: 350px;
  padding: 20px 0;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #0f1218;
  max-width: 90%;
}

/* line 153, ../sass/partials/_base.scss */
#show_all_button {
  text-align: center;
  margin: 0 auto;
  padding-bottom: 25px;
}

/*LIST ELEMENT CONTENTS*/
/* line 160, ../sass/partials/_base.scss */
.list_element_container {
  display: inline;
}

/* line 164, ../sass/partials/_base.scss */
.match_img {
  display: inline-block;
  float: left;
  width: 50px;
  height: 50px;
  background: #aaa;
  margin: 5px;
}

/*MATCH NAME*/
/* line 174, ../sass/partials/_base.scss */
.match_name {
  display: inline-block;
  margin-left: 10px;
}
/* line 177, ../sass/partials/_base.scss */
.match_name h3 {
  color: #333;
  margin-top: 12px;
  margin-bottom: 0;
}
/* line 182, ../sass/partials/_base.scss */
.match_name p {
  font-size: 14px;
  color: #333;
  margin: 0;
  padding-left: 10px;
}

/* line 190, ../sass/partials/_base.scss */
.match_info {
  display: inline-block;
  float: right;
  width: 30%;
}

/*sr*/
/* line 197, ../sass/partials/_base.scss */
.match_sr {
  display: inline-block;
  text-align: right;
  margin-top: 15px;
  margin-right: 5%;
}
/* line 202, ../sass/partials/_base.scss */
.match_sr h3 {
  display: inline;
  margin: 0;
  padding: 0;
}
/* line 207, ../sass/partials/_base.scss */
.match_sr p {
  font-size: 8px;
  color: #333;
  margin: 0;
  padding: 0;
}

/* line 215, ../sass/partials/_base.scss */
.match_outcome {
  display: inline-block;
  width: 40%;
  margin-right: 10%;
}
/* line 219, ../sass/partials/_base.scss */
.match_outcome h2 {
  font-size: 24px;
  margin: 0;
  padding: 0;
  width: auto;
}

/* line 227, ../sass/partials/_base.scss */
.match_delete {
  display: inline-block;
  float: right;
  background-color: firebrick;
  height: 60px;
  width: 10%;
}

/*STAT PANEL*/
/* line 236, ../sass/partials/_base.scss */
#stat_panel {
  width: 80%;
  margin: 0 auto;
}

/* line 241, ../sass/partials/_base.scss */
.stat_item {
  display: inline-block;
  background: #3f4e68;
  width: 33%;
}

/* line 247, ../sass/partials/_base.scss */
#win_percentage {
  text-align: center;
  border-radius: 3px;
  padding: 0;
  margin: 0;
  height: 100px;
  padding-top: 40px;
}
/* line 254, ../sass/partials/_base.scss */
#win_percentage p {
  font-size: 18px;
  margin: 0;
  padding: 0;
}
/* line 259, ../sass/partials/_base.scss */
#win_percentage h2 {
  font-size: 34px;
  color: #fff;
  padding: 0;
  margin: 0;
}

/* conditional formatting styles for list elements */
/* line 269, ../sass/partials/_base.scss */
.victoryStyle {
  color: #5786d1;
}

/* line 273, ../sass/partials/_base.scss */
.drawStyle {
  color: #ccc;
}

/* line 277, ../sass/partials/_base.scss */
.defeatStyle {
  color: #e6574f;
}

/*MATCH HISTORY CSS*/
/* line 282, ../sass/partials/_base.scss */
#h_top_bar {
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

/* line 288, ../sass/partials/_base.scss */
#back_button {
  display: inline-block;
  float: left;
  margin-top: 20px;
  color: #fff;
}

/* line 295, ../sass/partials/_base.scss */
#history_title {
  display: inline-block;
}
/* line 297, ../sass/partials/_base.scss */
#history_title h3 {
  text-align: center;
  color: #fff;
}

/*ADD MATCH MODAL*/
/* line 304, ../sass/partials/_base.scss */
#show_match_modal {
  text-align: center;
  margin: 0 auto;
}
/* line 307, ../sass/partials/_base.scss */
#show_match_modal button {
  background: #fff;
  width: 10%;
  height: 25px;
  border: none;
  border-radius: 3px;
}

/* line 316, ../sass/partials/_base.scss */
#add_match_modal {
  position: absolute;
  display: none;
  width: 100%;
  margin-top: 8%;
  z-index: 10;
}

/* line 324, ../sass/partials/_base.scss */
#select_map {
  width: 80%;
}

/* line 328, ../sass/partials/_base.scss */
#select_outcome {
  width: 50%;
  margin-right: 4%;
}

/* line 333, ../sass/partials/_base.scss */
#new_match_title {
  text-align: center;
  color: #fff;
  margin: 5px 5px 15px;
}

/* line 339, ../sass/partials/_base.scss */
input {
  height: 30px;
  border-radius: 2px;
  outline: none;
  border: none;
  font-size: 10px;
  padding: 1px;
}
/* line 346, ../sass/partials/_base.scss */
input[type="number"] {
  text-align: center;
  width: 23%;
}
/* line 350, ../sass/partials/_base.scss */
input[type="date"] {
  width: 78%;
  margin-bottom: 15px;
}

/* line 356, ../sass/partials/_base.scss */
select {
  line-height: 30px;
}
/* line 358, ../sass/partials/_base.scss */
select:invalid {
  color: #aaa;
}

/* line 373, ../sass/partials/_base.scss */
#close_button {
  margin-right: 4%;
}

/* line 378, ../sass/partials/_base.scss */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* line 384, ../sass/partials/_base.scss */
#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
  filter: alpha(opacity=60);
  z-index: 5;
  display: none;
}

/*MOBILE*/
@media (max-width: 760px) {
  /* line 1, ../sass/partials/_media_760.scss */
  .match_delete {
    display: none;
  }

  /* line 5, ../sass/partials/_media_760.scss */
  .match_info {
    width: 40%;
  }

  /* line 9, ../sass/partials/_media_760.scss */
  .match_outcome {
    margin-right: 17%;
  }

  /* line 13, ../sass/partials/_media_760.scss */
  li {
    width: 100%;
  }
  /* line 15, ../sass/partials/_media_760.scss */
  li:hover {
    width: 99%;
  }

  /* line 21, ../sass/partials/_media_760.scss */
  #list_wrapper {
    width: 100%;
  }

  /* line 25, ../sass/partials/_media_760.scss */
  #base_stats {
    width: 100%;
  }

  /* line 29, ../sass/partials/_media_760.scss */
  .stat_item {
    width: 100%;
  }
}
@media (max-width: 960px) {
  /* line 1, ../sass/partials/_media_960.scss */
  .match_info {
    width: 40%;
  }
}

/*# sourceMappingURL=main.css.map */
