//************** SIZES ************//
$width-small: 760px;
$width-medium: 960px;

$font_base_size: 16px;

//************** FONT COLOR ************//
$color_base: #fff;
$color_light: #ddd;
$color_light_alt: #aaa;
$color_primary: #003471;

$color_victory: #5786d1;
$color_draw: #ccc;
$color_defeat: #e6574f;

//************** FONT STYLE ************//
$font_style: sans-serif;


//************** BODY STYLE ************//
body {
  font-family: $font_style;
  background-image: url("../siteBackground.jpg");
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

p {
  color: $color_base;
}

a {
  text-decoration: none;
  color:$color_base;
}

select {
  height: 20px;
  padding: 1px;
}

#header {
	width: 100%;
	height: auto;
	background: rgba(0, 52, 113, 0.3);
	#title {
		display: inline-block;
		text-align: left;
  		color: $color_base;
  		h1{
			font-size: 32px;
			padding: 0;
			margin: 10% 20% 10%;
			font-weight: 300;
  		}
	}
	
	#show_match_modal {
		display: inline;
		float: right;
		height: auto;
		width: auto;
		button {
			padding: 10px;
			height: auto;
			width: auto;
			color: $color_base;
			font-size: 40px;
			background: none;
			border: none;
		}
	}
}

#main_info {
	width: 90%;
	margin: 0 auto;
	padding-top: 1%;
	padding-bottom: 1%;
	#username {
		display: inline;
		h2{
			font-size: 32px;
			display: inline-block;
			color: $color_base;
			padding: 0;
			margin-top: 5px;
			margin-bottom: 0px;
			min-width: 50px;
		}
		input{
			display: none;
			position: absolute;
			font-size: 14px;
			width: 250px;
			height: 35px;
			margin-top: 5px;
			padding-left: 5px;
		}
	}
	.base_stat_item {
		display: inline-block;
		float: right;
		margin-right: 15px;
		width: auto;
		h3 {
			font-size: 18px;
			text-align: center;
			color: $color_base;
			margin: 0;
			padding: 0;
		}
		p {
			font-size: 12px;
			text-align: center;
			color: $color_base;
			margin: 0;
			padding: 0;
		}
	}
}

/*LIST*/
ul {
  list-style: none;
  padding: 0;
}

li {
  width: 80%;
  height: 60px;
  background: $color_base;
  margin: 5px auto;
  border-radius: 2px;
  box-shadow: 2px 2px 5px #0f1218;
  &:hover {
    width: 82%;
  }
}

#list_wrapper {
  width: 80%;
  margin: 0 auto;
}

/*NEW MATCH*/
#input_fields {
  margin-bottom: 7px;
  width: 80%;
  div {
    margin: 2%;
  }
}

#addMatchButton {
  border-radius: 3px;
  background: $color_base;
  border: none;
  outline: none;
  &:active {
    background: $color_light;
    outline: none;
  }
}

#new_match_wrapper {
  text-align: center;
  margin: 0 auto;
}

#show_all_button {
  text-align: center;
  margin: 0 auto;
  padding-bottom: 25px;
}

/*LIST ELEMENT CONTENTS*/
.list_element_container {
  display: inline;
}

.match_img {
  display: inline-block;
  float: left;
  width: 50px;
  height: 50px;
  background: $color_light_alt;
  margin: 5px;
}

/*MATCH NAME*/
.match_name {
  display: inline-block;
  margin-left: 10px;
  h3 {
    color: #333;
    margin-top: 12px;
    margin-bottom: 0;
  }
  p {
    font-size: 14px;
    color: #333;
    margin: 0;
    padding-left: 10px;
  }
}

.match_info {
  display: inline-block;
  float: right;
  width: 30%;
}

/*sr*/
.match_sr {
  display: inline-block;
  text-align: right;
  margin-top: 15px;
  margin-right: 5%;
  h3 {
    display: inline;
    margin: 0;
    padding: 0;
  }
  p {
    font-size: 8px;
    color: #333;
    margin: 0;
    padding: 0;
  }
}

.match_outcome {
  display: inline-block;
  width: 40%;
  margin-right: 10%;
  h2{
    font-size: 24px;
    margin: 0;
    padding: 0;
    width: auto;
  }
}

.match_delete {
  display: inline-block;
  float: right;
  background-color: firebrick;
  height: 60px;
  width: 10%;
}

/*STAT PANEL*/
#stat_panel {
  width: 80%;
  margin: 0 auto;
}

.stat_item {
  display: inline-block;
  background: #3f4e68;
  width: 33%;
}

#win_percentage {
  text-align: center;
  border-radius: 3px;
  padding: 0;
  margin: 0;
  height: 100px;
  padding-top: 40px;
  p {
    font-size: 18px;
    margin: 0;
    padding: 0;
  }
  h2 {
    font-size: 34px;
    color: #fff;
    padding: 0;
    margin: 0;
  }
}


/* conditional formatting styles for list elements */
.victoryStyle {
  color: #5786d1;
}

.drawStyle {
  color: #ccc;
}

.defeatStyle {
  color:#e6574f;
}

/*MATCH HISTORY CSS*/
#h_top_bar {
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

#back_button {
  display: inline-block;
  float: left;
  margin-top: 20px;
  color: #fff;
}

#history_title {
  display: inline-block;
  h3 {
    text-align: center;
    color: #fff;
  }
}

/*ADD MATCH MODAL*/


#add_match_modal {
  position: absolute;
  display: none;
  width: 100%;
  margin-top: 8%;
  z-index: 10;
}

#new_match_wrapper {
  background: #354258;
  height: 200px;
  width: 20%;
  margin: 0 auto;
  padding: 20px 40px 0 40px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #0f1218;
}

#select_map {
  width: 80%;
}

#select_outcome {
  width: 50%;
  margin-right: 4%;
}

#new_match_title {
  text-align: center;
  color: #fff;
  margin: 5px 5px 15px;
}

input {
  height: 30px;
  border-radius: 2px;
  outline: none;
  border: none;
  font-size: 10px;
  padding: 1px;
  &[type="number"] {
    text-align: center;
    width: 23%;
  }
  &[type="date"] {
    width: 78%;
    margin-bottom: 15px;
  }
}

select {
  line-height: 30px;
  &:invalid {
    color: #aaa;
  }
}

//input[type=number] {
//  text-align: center;
//  width: 23%;
//}

//input[type=date] {
//  width: 78%;
//  margin-bottom: 15px;
//}

#close_button {
  margin-right: 4%;
}

input[type="number"]{
  &::-webkit-inner-spin-button,&::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

#overlay {
  position   : absolute;
  top        : 0;
  left       : 0;
  width      : 100%;
  height     : 100%;
  background : #000;
  opacity    : 0.6;
  filter     : alpha(opacity=60);
  z-index    : 5;
  display    : none;
}

//************** MOBILE ***************//
@media (max-width: $width-small) {
  .match_delete {
    display: none;
  }
  .match_info {
    width: 40%;
  }

  .match_outcome {
    margin-right: 17%;
  }

  li {
    width: 98%;
    &:hover {
      width: 97%;
    }
  }

  #list_wrapper {
    width: 100%;
  }

  #base_stats {
    width: 98%;
  }

  .stat_item {
    width: 100%;
  }
  
  #show_match_modal {
    button {
      width: 25%;
    }
  }
  
  #new_match_wrapper {
    width: 50%;
  }
  
  #input_fields div {
    margin: 0px;
  }
}

@media (max-width: $width-medium) {
  .match_info {
    width: 40%;
  }
  
  #new_match_wrapper {
    width: 50%;
  }
}