<!DOCTYPE html>
<html ng-app="OverwatchStats">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/main.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="js/main.js"></script>
</head>
<body ng-controller="matchListController">
	<div id="add_match_modal">
		<div id="new_match_wrapper">
			<div id="input_fields">
				<div id="select_map">
					<h3>MAP NAME</h3>
					<select class="m_input"  ng-model="newMap" ng-options="x.name for x in maps" required>
						<option value="" disabled selected hidden>Map</option>
					</select>
				</div>
				<div>
					<div id="select_outcome">
						<h3>OUTCOME</h3>
						<select class="m_input"  ng-model="newOutcome" ng-options="x.name for x in outcomes" required>
							<option value="" disabled selected hidden>Outcome</option>
						</select>
					</div><div id="select_sr">
						<h3>SKILL RATING</h3>
						<input class="m_input"   type="number" ng-model="newSR" placeholder="1234">
					</div>
				</div>
				<div id="select_date">
					<h3>DATE</h3>
					<input class="m_input" type="date"  name="input" ng-model="newDate" placeholder="yyyy-MM-dd"/>
				</div>
			</div>
			<div id="modal_buttons">
				<button class="m_button" id="close_button" onclick="closeAddModal()">CLOSE</button><button ng-click="addMatch()" class="m_button" id="add_match_button">ADD</button>
			</div>
		</div>
	</div>

	<div id="overlay"></div>
	
	<div id="header">
		<div id="title"><h1>OVERSTAT</h1></div>
		<div id="show_match_modal">
	  		<button onclick="showMatchModal()">+</button>
		</div>
	</div>
	<div id="main_info">
		<div id="username" onclick="nameInput()">
			<input id="username_input" type="text" ng-model="newUsername" ng-keypress="changeName($event)" placeholder="Username">
			<h2>{{username}}</h2>
		</div>
		<div class="base_stat_item">
			<h3>{{winPercentage}}%</h3>
			<p>WINRATE</p>
		</div>
		<div class="base_stat_item">
			<h3>{{currentSR}}</h3>
			<p>SKILL RATING</p>
		</div>
	</div>
	<div id="wrapper">
		<div id="statistics">
			<div class="stat_item">
				<h2>Winrate by Map Type</h2>
				<div class="map_type_winrate">
					<h3 class="winrate_value">50%</h3><h3 class="map_type">Payload</h3>
				</div>
				<div class="map_type_winrate">
					<h3 class="winrate_value">50%</h3><h3 class="map_type">Assault</h3>
				</div>
				<div class="map_type_winrate">
					<h3 class="winrate_value">50%</h3><h3 class="map_type">Control Point</h3>
				</div>
				<div class="map_type_winrate">
					<h3 class="winrate_value">50%</h3><h3 class="map_type">Hybrid</h3>
				</div>
			</div>
			<div class="stat_item">
			</div>
		</div><div id="list_wrapper">
			<ul>
				<li ng-repeat="match in matches | orderBy:'-date':1 | limitTo:4" >
		  			<div class="list_element_container">
						<div class="match_name">
							<h3>{{match.map.name}}</h3>
							<p>{{match.map.code}} Map</p>
						</div>
						<div class="match_info">
							<div class="match_outcome" ng-class="{victoryStyle: match.outcome.value == 1, drawStyle: match.outcome.value == 2, defeatStyle: match.outcome.value == 0}"><h2>{{match.outcome.name}}</h2></div>
							<div class="match_sr">
								<h4>{{gain}}</h4>
								<h3>{{match.skillrating}}</h3>
							</div>
						</div>
		  			</div>
      			</li>
			</ul>
			<div ng-show="matches.length > 4"id="show_all_button">
	  			<a href="matchHistory.html"><button>View All</button></a>
	  		</div>
		</div>
	</div>
</body>
</html>