<!DOCTYPE html>
<html ng-app="OverwatchStats">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/main.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="js/main.js"></script>
</head>
<body ng-controller="matchListController">
	
	<div id="add_match_modal">
		<div id="new_match_wrapper">
			<div id="new_match_title">ADD NEW MATCH RECORD</div>
			<div id="input_fields">
				<div>
					<select id="select_map" ng-model="newMap" ng-options="x.name for x in maps" required>
						<option value="" disabled selected hidden>Map</option>
					</select>
				</div>
				<div>
					<select id="select_outcome" ng-model="newOutcome" ng-options="x.name for x in outcomes" required>
						<option value="" disabled selected hidden>Match Outcome</option>
					</select>
					<input type="number" ng-model="newSR" placeholder="Skill Rating">
				</div>
				<div>
					<input type="date" id="date" name="input" ng-model="newDate" placeholder="yyyy-MM-dd"/>
				</div>
				<div>
					<button id="close_button" onclick="closeAddModal()">Close</button>
					<button ng-click="addMatch()" id="addMatchButton">Add Match</button>
				</div>
			</div>
		</div>
	</div>

	<div id="overlay"></div>
	
	<div id="header">
		<div id="title"><h1>OVERSTAT</h1></div>
		<div id="show_match_modal">
	  		<button onclick="showMatchModal()">+</button>
		</div>
	</div>
	<div id="main_info">
		<div id="username" onclick="nameInput()">
			<input id="username_input" type="text" ng-model="newUsername" ng-keypress="changeName($event)" placeholder="Username">
			<h2>{{username}}</h2>
		</div>
		<div class="base_stat_item">
			<h3>{{winPercentage}}%</h3>
			<p>WINRATE</p>
		</div>
		<div class="base_stat_item">
			<h3>{{currentSR}}</h3>
			<p>SKILL RATING</p>
		</div>
	</div>
	<div id="wrapper">
		<div id="statistics">
			<div class="stat_item"></div>
			<div class="stat_item"></div>
		</div>
		<div id="list_wrapper">
			<ul>
				<li ng-repeat="match in matches | orderBy:'-date':1 | limitTo:4" >
		  			<div class="list_element_container">
						<div class="match_img"></div>
						<div class="match_name">
							<h3>{{match.map.name}}</h3>
							<p>{{match.map.code}} Map</p>
						</div>
						<div class="match_info">
							<div class="match_outcome" ng-class="{victoryStyle: match.outcome.value == 1, drawStyle: match.outcome.value == 2, defeatStyle: match.outcome.value == 0}"><h2>{{match.outcome.name}}</h2></div>
							<div class="match_sr">
								<h3>{{match.skillrating}}</h3>
								<p>SKILL RATING</p>
							</div>

							<div class="match_delete" ng-click="remove($index)"></div>
						</div>
		  			</div>
      			</li>
			</ul>
			<div ng-show="matches.length > 4"id="show_all_button">
	  			<a href="matchHistory.html"><button>View All</button></a>
	  		</div>
		</div>
	</div>
</body>
</html>