<!DOCTYPE html>
<html ng-app="OverwatchStats">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="main.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="main.js"></script>
</head>
<body>
  <div id="title"><h1>OVERSTAT</h1></div>
  
  <div id="list_wrapper" ng-controller="matchListController">
	<div id="new_match_wrapper">
      <select ng-model="newMap" ng-options="x.name for x in maps"></select>
      <select ng-model="newOutcome" ng-options="x.name for x in outcomes"></select>
      <input type="number" ng-model="newSR" placeholder="Finishing SR">
      <button ng-click="addMatch()" id="addMatchButton">Add Match</button>
	</div>
    <ul>
      <li ng-repeat="match in matches | orderBy:'-date':1 | limitTo:5" 
          ng-class="{victoryStyle: match.outcome.value == 1, drawStyle: match.outcome.value == 2, defeatStyle: match.outcome.value == 0}">
        <div class="match_img"></div>
        <div class="match_name"><h3>{{match.map.name}} - {{match.map.code}}</h3></div>
        <div class="match_sr">SR: {{match.skillrating}}</div>
      </li>
    </ul>
      <div>
          <p id="win_percentage">{{winPercentage}}%</p>
      </div>
  </div>
</body>
</html>