body {
  background: #222a38;
}

#title {
  text-align: center;
  color: #fff;
  font-family: sans-serif;
}

#title h1 {
	font-size: 40px;
	padding: 0px;
	margin: 10px 0px 20px 0px;
}

p {
    color: #fff;
}

/*BASE STATS*/
#base_stats {
	width: 80%;
	margin: 0 auto;
	height: 40px;
	margin-top: 10px;
}

.base_stat_item {
	margin-right: 15px;
	width: auto;
	display: inline-block;
	float: right;
}

#base_stats h3 {
	color: #fff;
	font-family: sans-serif;
	margin: 0px;
	padding: 0px;
	text-align: center;
}

#base_stats p {
	color: #fff;
	font-family: sans-serif;
	margin: 0px;
	padding: 0px;
	font-size: 10px;
	text-align: center;
}
/*LIST*/
ul {
  list-style: none;
	padding: 0px;
}

li {
  	width: 80%;
  	height: 60px;
  	background: #fff;
  	margin: 5px auto;
	border-radius: 2px;
	box-shadow: 2px 2px 5px #0f1218;
}

li:hover {
	width: 82%;
}

#list_wrapper {
	width: 80%;
	margin: 0 auto;
}

/*NEW MATCH*/
#input_fields {
	margin-bottom: 7px;
}

#addMatchButton {
	border-radius: 3px;
	background: #fff;
	border: none;
	outline: none;
}

#addMatchButton:active {
	background: #ddd;
	outline: none;
}

#new_match_wrapper {
  margin: 0 auto;
  text-align: center;
}

#show_all_button {
	margin: 0 auto;
	text-align: center;
	padding-bottom: 25px;
}

/*LIST ELEMENT CONTENTS*/
.list_element_container {
	display: inline;
}

.match_img {
  width: 50px;
  height: 50px;
  background: #aaa;
  display: inline-block;
  float: left;
  margin: 5px;
}

/*MATCH NAME*/
.match_name {
  display: inline-block;
  margin-left: 10px;
  font-family: sans-serif;
}

.match_name h3 {
	margin-top: 12px;
	margin-bottom: 0px;
	color: #333;
}

.match_name p {
	margin: 0px;
	font-size: 14px;
	color: #333;
	padding-left: 10px;
}

.match_info {
	display: inline-block;
	float: right;
	width: 30%;
}

/*sr*/
.match_sr {
 	display: inline-block;
	margin-top: 15px;
  	font-family: sans-serif;
	margin-right: 5%;
	text-align: right;
}

.match_sr h3 {
	display: inline;
	margin: 0px;
	padding: 0px;
}

.match_sr p {
	margin: 0px;
	padding: 0px;
	font-size: 8px;
	color: #333;
}

.match_outcome {
	display: inline-block;
	width: 40%;
	margin-right: 10%;
}

.match_outcome h2{
	font-family: sans-serif;
	font-size: 24px;
	margin: 0px;
	padding: 0px;
	width: auto;
}

.match_delete {
    display: inline-block;
	float: right;
	height: 60px;
    width: 10%;
    background-color: firebrick;
}

/*STAT PANEL*/
#stat_panel {
	width: 80%;
	margin: 0px auto;
}

.stat_item {
	width: 33%;
	display: inline-block;
	background: #3f4e68;
}

#win_percentage {
    text-align: center;
	font-family: sans-serif;
	border-radius: 3px;
	padding: 0px;
	margin: 0px;
	height: 100px;
	padding-top: 40px; 
}

#win_percentage p {
	margin: 0px;
	padding: 0px;
	font-size: 18px;
}

#win_percentage h2 {
	color: #fff;
	padding: 0px;
	margin: 0px;
	font-size: 34px;
}

/* conditional formatting styles for list elements */
.victoryStyle {
  color: #5786d1;
}

.drawStyle {
  color: #ccc;
}

.defeatStyle {
  color:#e6574f;
}


/*MOBILE*/ 
@media (max-width: 760px) {
	.match_delete {
		display: none;
	}
	
	.match_info {
		width: 40%;
	}
	
	.match_outcome {
		margin-right: 17%;
	}
	
	li {
		width: 100%;
	}
	
	li:hover {
		width: 99%;
	}
	
	#list_wrapper {
		width: 100%;
	}
	
	#base_stats {
		width: 100%;
	}
	
	.stat_item {
		width: 100%;
	}
}

@media (max-width: 960px) {
	.match_info {
		width: 40%; 
	}
}