//************** FONT COLOR ************//

$color_base: #fff;
$color_light: #ddd;
$color_light_alt: #aaa;
$color_primary: #222a38;
$color_victory: #5786d1;
$color_draw: #ccc;
$color_defeat: #e6574f;


$font_base_size: 16px;


//************** FONT STYLE ************//

$font_style: sans-serif;
