.match_delete {
  display: none;
}

.match_info {
  width: 40%;
}

.match_outcome {
  margin-right: 17%;
}

li {
  width: 100%;
  &:hover {
    width: 99%;
  }

}

#list_wrapper {
  width: 100%;
}

#base_stats {
  width: 100%;
}

.stat_item {
  width: 100%;
}